@include text-inputs-style() {
    display: block;
    width: 100%;
    @include include-element-margin($text-inputs-margin-top, $text-inputs-margin-bottom, $text-inputs-margin-left, $text-inputs-margin-right, $text-inputs-margin-for-screens);
    border: $text-inputs-border;
    outline: 0;
    background: $text-inputs-background;
    padding: 0;
    color: inherit;
    font: inherit;
    @include border-radius($text-inputs-border-radius);
    @include box-shadow(none);
    @include appearance(none);
    @include transition($text-inputs-transition);

    &::-moz-focus-inner {
        margin: 0;
        outline: 0;
        border: 0;
        padding: 0;
    }

    &:focus {
        border-color: $text-inputs-focus-border-color;
        background: $text-inputs-focus-background;
    }

    &[disabled] {
        cursor: default;
        border-color: $text-inputs-disabled-border-color;
        background: $text-inputs-disabled-background;
    }
}

@include text-inputs-style(false) {
    height: $text-inputs-height;
    padding: $text-inputs-padding;
    line-height: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

input[type="color"] {
    padding: 0;
}

textarea {
    overflow: auto;
    min-height: $text-inputs-textarea-min-height;
    padding: $text-inputs-textarea-padding;
}

//Placeholder
@include placeholder-color($text-inputs-placeholder-color);

//Data list
datalist {
    border: $text-inputs-datalist-border;
}
